augmentedData/wav/piano/*.wav
augmentedData/wav/synthBass1/*.wav
augmentedData/wav/violin/*.wav
gen_raw_midi/*.rawMid
augmentedData/midcsv/csv/piano/*.csv
augmentedData/midcsv/csv/synthBass1/*.csv
augmentedData/midcsv/csv/violin/*.csv
augmentedData/midcsv/midi/piano/*.mid
augmentedData/midcsv/midi/synthBass1/*.mid
augmentedData/midcsv/midi/violin/*.mid
LSTMreadyData/input/*.rawIn
LSTMreadyData/label/*.rawWav
